.good nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    position: relative;
    z-index: 10;
}

.good nav>* {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good nav div a {
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
}

.good nav img {
    width: 20%;
}

.good nav input {
    height: 60%;
    border-radius: 10px;
    padding: 0 4px;
}

.good .promo {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.good .banner-text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.good .banner-text p {
    width: 25%;
}

.good .banner-text span h1 {
    font-size: 50px;
    font-weight: bolder;
}

.good .banner img {
    width: 100%;
}

.good .img-parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/banner.jpg');
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.good .img-parallax h1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 8px 5px 3px rgb(0, 0, 0);
}

.good .products img {
    width: 200px;
}

.good .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'item5 item2 item3 item4'
        'item5 item1 item6 item7'
        'item9 item11 item11 item10'
        'item14 item11 item11 item13'
        'item8 item11 item11 item12';
    gap: 10px;
    padding: 20px 0;
}

.good .img1 {
    grid-area: item1;
    background-color: rgb(226, 182, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img2 {
    grid-area: item2;
    background-color: rgba(128, 128, 128, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img3 {
    grid-area: item3;
    background-color: rgb(191, 75, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img4 {
    grid-area: item4;
    background-color: rgb(195, 98, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img5 {
    grid-area: item5;
    background-color: rgb(71, 101, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img6 {
    grid-area: item6;
    background-color: rgb(122, 162, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img7 {
    grid-area: item7;
    background-color: rgb(226, 182, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img8 {
    grid-area: item8;
    background-color: rgb(195, 98, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img9 {
    grid-area: item9;
    background-color: rgb(122, 162, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img10 {
    grid-area: item10;
    background-color: rgb(191, 75, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img11 {
    grid-area: item11;
    background-color: rgb(248, 232, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img12 {
    grid-area: item12;
    background-color: rgb(71, 101, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img13 {
    grid-area: item13;
    background-color: rgb(122, 162, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good .img14 {
    grid-area: item14;
    background-color: rgba(245, 245, 220, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
}

.good footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    background-color: black;
    color: white;
    padding: 30px 0;
}

.good footer a {
    color: white;
    text-decoration: none;
}

.good footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.good .social-media {
    flex-direction: row;
    background-color: white;
    border: 10px solid black;
    padding: 10px 0;
    border-radius: 20px;
}

.good .social-media img {
    width: 10%;
}